<%=render partial: "navbar", layout: "navbar" %>

<%="Still working for ya'll"%>

<h1>Conoce a tu futuro tatuador</h1>
<h1> Próximos eventos </h1>
<p> método para mostrar próx fechas (seed btw)</p>
<h1> Estilos y Estudios</h1>

<p> futuro footer xD </p>