

<%="Still working for ya'll"%>
<!--Gallery parcial de tatuadores -->
<div>
<h1>Conoce a tu futuro tatuador</h1>
</div>
<!--Gallery parcial de afiches -->
<div>
<h1> Próximos eventos </h1>
<p> método para mostrar próx fechas (seed btw)</p>
</div>
<!--Mapa de Estudios próximos a ti -->
<div>
<h1> Estilos y Estudios</h1>
</div>
